.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#input-form {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 319px;
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
}

#input-lastname {
  width: 319px;
  align-self: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
}

#input-email {
  width: 299px;
}

#house {
  width: 299px;
}

#label-family {
  display: flex;
}

#div-family {
  width: 49%;
  background-color: rgb(50, 167, 145);
}

#div-content {
  display: flex;
  flex-flow: wrap;
  width: 49%;
  background-color: red;
}

.subject {
  margin-left: 45px;
}

#div-rate {
  display: flex;
  flex-direction: row;
}
